/* classess to be used for fonts-family
.font-family-important - fonts to be used for headings and any other big elements
.font-family-plain - fonts to be used for any plain text*/

.font-family-important {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}

.font-family-plain {
    font-family: 'Montserrat Alternates', sans-serif;
}

/* event cards */
.card-header {
    background-color: #ff6663aa;
}
.info-img {
    background: linear-gradient(#feb144aa, #fdfd97aa, #9ee09eaa, #9ec1cfaa);
}
.card-footer {
    background-color: #cc99c9aa;
}