{% extends 'base.html' %}
 
{% block content %}
 
<h1>My events</h1>
{% for event in own_events %}
        <!-- event card -->
        <!-- do we want an image in these cards? -->
        <article class="container">
            <!-- keep card central and nice spacing from edges -->
            <div class="row justify-content-center my-4 card text-center col-sm-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 g-0">
                <!-- card header -->
                <div class="card-header container g-0">
                    <h1 class="align-self-center col p-2 fw-bolder text-capitalize">{{ event.event_name }}</h1>
                    <div class="col-3 signs">

                        <a href="{{ url_for('delete_event', event_id=event._id) }}" class="nav-link delete">Delete</a>
                        <a href="{{ url_for('edit_event', event_id=event._id) }} " class="nav-link edit ">Edit</a>
                    </div>
                </div>
                <!-- card body -->
                <div class="card-content d-flex">
                    <div class="card-body justify-self-center pb-0">
                            <h2 class="card-title text-muted text-capitalize">{{ event.event_type }}</h2>
                        <!-- <p class="card-text txt-2"> {{ event.event_name }}</p> -->
                        <p class="card-text description px-md-3 px-lg-5 md-fs-5">
                            {{ event.description }}
                            
                        </p>
                        <p class="card-text location fst-italic text-muted">
                            {{ event.location}}
                        </p>
                        <p>
                            <a href="#" class="btn btn-outline-secondary fw-bold">Event Details</a>
                        </p>
                    </div>
                     
                    <div class="col-6 ml-auto img-cntr">
                        <img src="{{ event.image_url }}" class="img-thumbnail right" alt="...">
                    </div> -->
                </div>
                <div class="card-footer text-muted footer-text">
                    Added by: <span class="fst-italic text-capitalize">{{ event.created_by }}</span>
                </div>
            </div>
            {% endfor %}
        </article>
<!--   favourites=favourites, myevents=myevents, own_events=own_events, results=results)   -->
<h1>Fav events</h1>
 {% for fav in results %}
        <!-- event card -->
        <!-- do we want an image in these cards? -->
        <article class="container">
            <!-- keep card central and nice spacing from edges -->
            <div class="row justify-content-center my-4 card text-center col-sm-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 g-0">
                <!-- card header -->
                <div class="card-header container g-0">
                    <h1 class="align-self-center col p-2 fw-bolder text-capitalize">{{ fav.event_name }}</h1>
                    <div class="col-3 signs">
                    </div>
                </div>
                <!-- card body -->
                <div class="card-content d-flex">
                    <div class="card-body justify-self-center pb-0">
                            <h2 class="card-title text-muted text-capitalize">{{ fav.event_type }}</h2>
                        <!-- <p class="card-text txt-2"> {{ fav.event_name }}</p> -->
                        <p class="card-text description px-md-3 px-lg-5 md-fs-5">
                            {{ fav.description }}
                            
                        </p>
                        <p class="card-text location fst-italic text-muted">
                            {{ fav.location}}
                        </p>
                        <p>
                            <a href="#" class="btn btn-outline-secondary fw-bold">Event Details</a>
                        </p>
                    </div>
                     
                    <div class="col-6 ml-auto img-cntr">
                        <img src="{{ fav.image_url }}" class="img-thumbnail right" alt="...">
                    </div> -->
                </div>
                <div class="card-footer text-muted footer-text">
                    Added by: <span class="fst-italic text-capitalize">{{ fav.created_by }}</span>
                </div>
                <a class="btn btn-primary" href="{{ url_for('remove_favourite', event_id=fav._id) }}" role="button">remove</a>
            </div>
            {% endfor %}
        </article>

{% endblock %}
