{% extends 'base.html' %}
 
{% block content %}
 
<!--BOOTSTRAP FORM FOR LOGIN -->
<form method="POST" action="{{ url_for('register') }}">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" type="text" class="form-control" id="username" required>
    </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
 
 
{% endblock %}
